In [1]:
import pandas as pd

In [2]:
world_gdp = pd.read_csv('../data/country-GDP-2017.csv',encoding = "ISO-8859-1", names = ['Country', 'Country Code', 'GDP'], skiprows = 1)
world_gdp.head(1)

  Country Country Code           GDP
0   Aruba          ABW  2.081530e+10

In [3]:
# world_gdp['Country Name']

In [4]:
world_happiness = pd.read_csv('../data/world_happiness_2017.csv')
world_happiness.head(1)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [5]:
merged_df = pd.merge(world_gdp, world_happiness, on = ['Country', 'Country'])
merged_df.head()

,Country,Country Code,GDP,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Afghanistan,AFG,1.240000e+11,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
1,Angola,AGO,1.303935e+10,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
2,Albania,ALB,3.012914e+09,109,4.644,4.752464,4.535536,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442
3,United Arab Emirates,ARE,6.380000e+11,21,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
4,Argentina,ARG,1.153659e+10,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005

In [6]:
merged_df.to_csv('../data/happiness_and_gdp.csv')

In [7]:
world_gdp = pd.read_csv('../data/country-GDP-2017.csv',encoding = "ISO-8859-1", names = ['Country', 'Country Code', 'GDP'], skiprows = 1)
world_happiness = pd.read_csv('../data/world_happiness_2017.csv')
merged_df = pd.merge(world_gdp, world_happiness, on = ['Country', 'Country'])
merged_df.head()

,Country,Country Code,GDP,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Afghanistan,AFG,1.240000e+11,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
1,Angola,AGO,1.303935e+10,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
2,Albania,ALB,3.012914e+09,109,4.644,4.752464,4.535536,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442
3,United Arab Emirates,ARE,6.380000e+11,21,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
4,Argentina,ARG,1.153659e+10,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005

In [8]:
merged_df.to_csv('gdp_and_happine')

In [12]:
gdp_per_capita = pd.read_csv('../data/country-gdp-per-capita.csv')
country_gdp = pd.read_csv('../data/country-GDP-2017.csv')

In [13]:
gdp_df = pd.merge(gdp_per_capita, country_gdp, on = ['Country Name', 'Country Name'])
gdp_df.head()

  Country Name       GDP/CAP           GDP
0        Aruba           NaN           NaN
1  Afghanistan    585.850064  2.081530e+10
2       Angola   4170.312280  1.242094e+11
3      Albania   4537.862492  1.303935e+10
4      Andorra  39146.548840  3.012914e+09

In [19]:
world_happiness = pd.read_csv('../data/world_happiness_2017.csv')
world_happiness.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [27]:
gdp_per_capita = pd.read_csv('../data/country-gdp-per-capita.csv')
country_gdp = pd.read_csv('../data/country-GDP-2017.csv')
gdp_df = pd.merge(gdp_per_capita, country_gdp, on = ['Country Name', 'Country Name'])
gdp_df.head()

  Country Name       GDP/CAP           GDP
0        Aruba           NaN           NaN
1  Afghanistan    585.850064  2.081530e+10
2       Angola   4170.312280  1.242094e+11
3      Albania   4537.862492  1.303935e+10
4      Andorra  39146.548840  3.012914e+09

In [29]:
# world_happiness = pd.merge(gdp_df, world_happiness, on = ['Country Name', 'Country'])
world_happiness['Country']

0                        Norway
1                       Denmark
2                       Iceland
3                   Switzerland
4                       Finland
5                   Netherlands
6                        Canada
7                   New Zealand
8                        Sweden
9                     Australia
10                       Israel
11                   Costa Rica
12                      Austria
13                United States
14                      Ireland
15                      Germany
16                      Belgium
17                   Luxembourg
18               United Kingdom
19                        Chile
20         United Arab Emirates
21                       Brazil
22               Czech Republic
23                    Argentina
24                       Mexico
25                    Singapore
26                        Malta
27                      Uruguay
28                    Guatemala
29                       Panama
                 ...
125            Congo (Kinshasa)
126                        Mali
127                 Ivory Coast
128                    Cambodia
129                       Sudan
130                       Ghana
131                     Ukraine
132                      Uganda
133                Burkina Faso
134                       Niger
135                      Malawi
136                        Chad
137                    Zimbabwe
138                     Lesotho
139                      Angola
140                 Afghanistan
141                    Botswana
142                       Benin
143                  Madagascar
144                       Haiti
145                       Yemen
146                 South Sudan
147                     Liberia
148                      Guinea
149                        Togo
150                      Rwanda
151                       Syria
152                    Tanzania
153                     Burundi
154    Central African Republic
Name: Country, Length: 155, dtype: object